# Binaries
*.exe
*.test
*.out
main
markdown-github-stars-updater

# Build artifacts
dist/
build/
bin/

# Dependency directories
vendor/

# OS specific
.DS_Store
Thumbs.db
*.swp

# IDEs
.vscode/
.idea/
*.iml